<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619874700079-hi48v18p75do9utvionq4rgsicucalg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619874700079-hi48v18p75do9utvionq4rgsicucalg3</string>
	<key>API_KEY</key>
	<string>AIzaSyA0L1owJyUe0b_h_s0HW0ty3U5i9Jm-1I8</string>
	<key>GCM_SENDER_ID</key>
	<string>619874700079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haumea</string>
	<key>PROJECT_ID</key>
	<string>haumea-3f751</string>
	<key>STORAGE_BUCKET</key>
	<string>haumea-3f751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619874700079:ios:8637a65cc550c1e4adefda</string>
</dict>
</plist>
